.App {
  text-align: center;
}

.container-fluid{
 padding-left: 10rem;
 padding-right: 10rem;
 
}
.mr{
  margin-left: 20%;
}

.spcbtw{
  background-color: rgb(102, 98, 98);
  justify-content: space-around;
  z-index: 9999;
  width: 100%;
  padding: 0;
}
nav .container-fluid{
  height: 80px;
  
  background-color: rgb(102, 98, 98);
  padding: 0;
}

nav ul li .nav-link{
  color: orange;
}

.card{
 margin: auto;
  border-radius: 50%; 
}
.card-img{
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}
.name{
  margin-top: 8rem;
}
.address{
  margin-top: 8rem;
}
.navbar-toggler{
  margin: 0 2rem 0 0;
}







